VEHICLE MAINTANCE PROJECT

STUDENT NAME: 

STUDENT PACE:

SCHEDULED PROJECT REVIEW DATE/TIME:

INSTRUCTOR NAME:

1.IMPORTING NECESSARY LIBRARIES

In [26]:
# Libraries required for data analysis and preprocessing

import pandas as pd
import numpy as np

# Libraries required for data visualization
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from matplotlib import pyplot

#Libraries required for applying logistic regression models
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
import statsmodels.api as sm

#Libraries required for model evaluation
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.model_selection import cross_val_score

2. LOADING THE FILE (DATASET)

In [9]:
#import file
vehicles= pd.read_csv(r"C:\Users\OTIENO BAKER OYUGI\Downloads\Vehicle Repair Jobs.csv", sep='\t')
vehicles.head()

  ,"","","Jobs created from:","10/03/10","To","09/04/24"," From Com 10 To: 99"
0  Date Created,"Promised","Period","Co","Account...
1  '2010-05-12,"","201005","15","'158G0015","15H3...
2  '2010-05-31,"","201005","15","'151111","15Z017...
3  '2011-06-15,"","201106","13","'134U0001","13H2...
4  '2011-10-01,"","201110","13","'134T0001","13H3...

3. DATA PREPROCESSING

In [12]:
# Display the first few rows of the dataset
print(vehicles.head())

  ,"","","Jobs created from:","10/03/10","To","09/04/24"," From Com 10 To: 99"
0  Date Created,"Promised","Period","Co","Account...
1  '2010-05-12,"","201005","15","'158G0015","15H3...
2  '2010-05-31,"","201005","15","'151111","15Z017...
3  '2011-06-15,"","201106","13","'134U0001","13H2...
4  '2011-10-01,"","201110","13","'134T0001","13H3...

In [13]:
# Summary of data types and non-null counts
print(vehicles.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17855 entries, 0 to 17854
Data columns (total 1 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   ,"","","Jobs created from:","10/03/10","To","09/04/24"," From Com 10 To: 99"  17855 non-null  object
dtypes: object(1)
memory usage: 139.6+ KB
None

In [14]:
#Summary Statistics for numerical columns
print(vehicles.describe())

       ,"","","Jobs created from:","10/03/10","To","09/04/24"," From Com 10 To: 99"
count                                               17855
unique                                              17855
top     Date Created,"Promised","Period","Co","Account...
freq                                                    1

In [15]:
#Count of missing values per column
print(vehicles.isnull().sum())

,"","","Jobs created from:","10/03/10","To","09/04/24"," From Com 10 To: 99"    0
dtype: int64